.searchresults {
    background: #bbb;
    padding-inline: 10%;
    margin-left: auto;
    margin-right: auto;
}

.searchresults-breadcrumb {
    display: flex;
    font-size: 16px;
}

.searchresults-breadcrumb p {
    display: flex;
    align-items: center;
}

.searchresults-breadcrumb-svg {
    height: 20px;
    margin-inline: -10px;
}

.searchresults-wrapper {
    display: flex;
    align-items: flex-start;
}

.searchresults-header {
    padding: 10px;
}

.searchresults-left {
    flex: 1;
    background: #ddd;
    padding-inline: 10px;
}

.searchresults-right {
    flex: 4;
    background: #fff;
}

.searchresults-products {
}
