.productinfo {
    background: #bbb;
}

.productinfo-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.productinfo-section {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
}

.productinfo-breadcrumb {
    display: flex;
    font-size: 16px;
}

.productinfo-breadcrumb p {
    display: flex;
    align-items: center;
}

.productinfo-breadcrumb-svg {
    height: 20px;
    margin-inline: -10px;
}

.productinfo-content {
    display: flex;
    width: 100%;
    gap: 20px;
}



.productinfo-modal {
    z-index: 10;
    top: 0px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.productinfo-modal-content {
    width: 60%;
    height: 98%;
    background: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 10px;
    border: 4px solid #ddd;
}
.productinfo-modal-main {
    flex: 1 0;
    padding: 20px;
}
.productinfo-modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productinfo-modal-close {
    margin: 20px;
}
.productinfo-modal-close p {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.productinfo-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.productinfo-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
    background: #fff;
}

.productinfo-carousel-main {
    width: 100%;
    height: 500px;
    margin-block: 10px;
    padding-inline: 40px;
}

.productinfo-carousel-main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productinfo-carousel-main-image:hover {
    cursor: zoom-in;
}

.productinfo-carousel-separator {
    margin-block: 20px;
    width: 80%;
}

.productinfo-carousel-preview {
    display: flex;
    align-items: center;
    margin-block: 20px;
    justify-content: center;
}

.productinfo-carousel-nav-btn {
    margin-inline: 15px;
    font-size: 24px;
}

.productinfo-carousel-preview-item {
    margin-inline: 10px;
    height: 60px;
    width: 60px;
}

.productinfo-carousel-preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productinfo-carousel-preview-set {
    box-shadow: 0 0 10px;
}




.productinfo-review-wrapper {
    padding: 20px 0 20px 20px;
    border: 2px solid #d8d8d8;
    background: #eee;
    border-radius: 10px;
}
.productinfo-review-top {
    margin: 0 20px 30px 20px;
}
.productinfo-review-rating {
    margin: 0;
    width: 20px;
    text-align: center;
}
.productinfo-review-input {
    width: 80%;
    line-height: 18px;
    padding: 7px;
    border-radius: 10px;
    margin: 5px 0;
}
.productinfo-review-btn {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.productinfo-review-btn:hover {
    background: #ddd;
    cursor: pointer;
}
.productinfo-review-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    max-height: 500px;
    scrollbar-width: thin;
}
.productinfo-review-comment {
    margin: 5px 0;
    font-size: 16px;
    overflow-wrap: break-word;
    width: 90%;
}
.productinfo-review {
    display: flex;
    flex-direction: column;
}
.productinfo-review span {
    color: #888;
    font-size: 12px;
}
.productinfo-review-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productinfo-review-menu {
    padding: 0;
    margin: 0 10px;
    border: none;
}
.productinfo-review-menu svg {
    height: 18px;
    width: 18px;
    padding: 5px;
}
.productinfo-review-menu svg:hover {
    background: #ddd;
    border-radius: 15px;
    cursor: pointer;
}
.productinfo-review-details-header {
    display: flex;
    gap: 10px;
}





.productinfo-right {
    width: 60%;
    padding-inline: 50px;
    padding-block: 30px;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
    background: #eee;
    height: 100%;
}

.productinfo-title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin-block: 10px;
}

.productinfo-separator {
    margin-block: 30px;
    width: 100%;
}

.productinfo-brand {
    cursor: pointer;
    color: orange;
    font-weight: 500;
    font-size: 20px;
    font-family: Roboto;
    padding: 0;
    margin-block: 10px;
}

.productinfo-price {
    font-family: Roboto;
    margin-block: 10px;
}
.productinfo-price-label {
    font-size: 16px;
    padding-inline: 0 10px;
}
.productinfo-price-new {
    font-weight: 500;
    font-size: 24px;
}
.productinfo-price-old {
    text-decoration: line-through;
    text-decoration-color: red;
}

.productinfo-stock {
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin-block: 20px;
}
.productinfo-stock-label {
    font-size: 16px;
    padding-inline: 0 10px;
    line-height: 16px;
}
.productinfo-stock-in {
    color: green;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.productinfo-stock-out {
    color: red;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.productinfo-quantity {
    margin-block: 20px 30px;
    display: flex;
    align-items: center;
}
.productinfo-quantity-label {
    margin-inline: 0 20px;
}
.productinfo-quantity-input {
    width: 35px;
    height: 15px;
    padding: 5px;
    text-align: center;
}

.productinfo-addtocart {
    background: orange;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    width: 150px;
    padding-block: 10px;
    cursor: pointer;
}
.productinfo-addtocart:hover {
    font-weight: 600;
    background: #ff6700;
}

.productinfo-description {
    font-size: 18px;
    font-family: Roboto;
}
.productinfo-description img {
    max-width: 100%;
    max-height: 100%;
}
.productinfo-description p {
    padding: 0;
    margin-block: 30px;
}


.productinfo-more {
    margin-block: 70px;
    width: 80%;
    background: #eee;
    border: 2px solid #d8d8d8;
    border-radius: 10px 10px 0 0;
}
.productinfo-more-title {
    font-weight: 600;
    font-size: 24px;
    font-family: Roboto;
    padding-inline: 20px;
    margin-block: 20px;
}

