.productsdisplay {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: #ddd;
    padding: 5px;
    overflow: hidden;
}

.productsdisplay-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 1px;
    min-width: 230px;
}
.productsdisplay-item:hover {
    box-shadow: 0px 0px 100px -30px blue;
    z-index: 2;
}
.productsdisplay-link {
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.productsdisplay-link:hover {
    cursor: pointer;
}
.productsdisplay-item-review {
    font-size: 14px;
    color: #999;
    font-style: italic;
}

.productsdisplay-item-container {
    position: relative;
    padding-bottom: 100%;
}

.productsdisplay-item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
