.login {
    background: rgb(240, 244, 249);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-content {
    background: white;
    display: flex;
    padding: 40px;
    border-radius: 20px;
    gap: 100px;
    width: 50%;
    border: 2px solid rgb(220, 224, 229);
}

.login-left {
    width: 40%;
}
.login-header {
    padding: 0;
    margin-block: 20px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 500;
}
.login-text {
    padding: 0;
    margin: 0;
    font-size: 18px;
}


.login-right {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}
.login-label {
    font-size: 18px;
    margin-block: 10px 0;
    font-weight: 500;
}
.login-id-input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 20px;
    line-height: 20px;
    margin-block: 10px 20px;
}
.login-pass-input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 20px;
    line-height: 20px;
    margin-block: 10px 20px;
}

.login-show {
    display: flex;
    align-items: center;
    margin-block: 0 20px;
}
.login-showpass {
    height: 18px;
    width: 18px;
}
.login-show-label {
    padding: 0;
    margin: 0 10px;
}

.login-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px 0;
    padding-inline: 20px;
}
.login-register {
    text-decoration: none;
    color: blue;
}

.login-btn {
    border-radius: 20px;
    padding: 15px 20px;
    border: none;
    background: blue;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}
.login-btn:hover {
    background: #0000dd;
}
