.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar-logo {
    width: 80px;
    cursor: pointer;
}

.nav-profile {
    width: 75px
}

.navbar-cart {
    object-fit: contain;
    height: 35px;
    cursor: pointer;
}
.navbar-cart-svg {
    height: 100%;
    width: 100%;
}
.navbar-cart-cnt {
    background: red;
    border-radius: 14px;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    width: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: white;
    right: -20px;
    top: -30px;
    position: relative;
}

@media(max-width: 800px){
    .navbar {
        padding: 15px 30px;
    }
    .nav-logo {
        width: 60px;
    }
    .nav-profile {
        width: 60px;
    }
}

