.register {
    background: rgb(240, 244, 249);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-content {
    background: white;
    display: flex;
    padding: 40px;
    border-radius: 20px;
    gap: 100px;
    width: 50%;
    border: 2px solid rgb(220, 224, 229);
}

.register-left {
    width: 40%;
}
.register-header {
    padding: 0;
    margin-block: 20px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 500;
}


.register-right {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}
.register-label {
    font-size: 18px;
    margin-block: 10px 0;
    font-weight: 500;
}
.register-id-input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 20px;
    line-height: 20px;
    margin-block: 10px 20px;
}
.register-pass-input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 20px;
    line-height: 20px;
    margin-block: 10px 20px;
}

.register-show {
    display: flex;
    align-items: center;
    margin-block: 0 20px;
}
.register-showpass {
    height: 18px;
    width: 18px;
}
.register-show-label {
    padding: 0;
    margin: 0 10px;
}

.register-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px 0;
    padding-inline: 20px;
}
.register-register {
    text-decoration: none;
    color: blue;
}

.register-btn {
    border-radius: 20px;
    padding: 15px 20px;
    border: none;
    background: blue;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}
.register-btn:hover {
    background: #0000dd;
}
